*{
     
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    background-color: #1f2020;
    height: auto;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#navbar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #2d2d2d;
}
#logoimg{
    border-radius: 50%;
    object-fit: cover;
}
#links a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;

    
}
#homepage{
    padding: 20px;
}
#name{
    color: white;
    font-size: 30px;
    font-family: 'orbitron', sans-serif;
}
#local{
    color: #999999;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
#bio{
    color: #ffff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
#main{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(16, 8, 8);
}
#links a:hover{
    color: #ffd900;
}
#about{
    color: white;
    font-size: 20px;
    font-family: 'orbitron', sans-serif;
}
#aboutpage{
    padding: 20px;
}
#skillspage{
    padding: 20px;
    font-size: 15px;
    font-family: 'orbitron', sans-serif;
    color: white;
}
.images{
    width: 50px;
    height: 50px;
    object-fit: fill;
   border-radius: 50%;
   padding: 5px;
   max-width: 100%;
}
.dots{
   padding: 1px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
    color: #999999;
}
#projectspage{
    padding: 20px;
}
#probio{
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
#card{
    color: white;
    font-size: 25px;
    font-family: 'orbitron', sans-serif;
}
#contactme{
    background-color: #2d2d2d;
    height: auto;
    width: 100%;
    padding: 20px;
}
#touch{
    color: white;
    font-family: 'orbitron', sans-serif;
    font-size: 23px;
   
}
#email{
    color: white;
    font-family: 'orbitron', sans-serif;
    font-size: 12px;
}
#com{
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
#insta{
    width: 18px;
    height: 18px;
    object-fit: fill;
   border-radius: 2px;
   
}
#social{
    display: flex;
    gap: 5px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    
}
#githb{
   display: flex;
   gap: 5px;
}
#git{
    width: 18px;
    height: 18px;
    object-fit: fill;
   border-radius: 2px;
}
#linkpp{
    display: flex;
    gap: 5px;
}
#linkdin{
    width: 18px;
    height: 18px;
    object-fit: fill;
    border-radius: 2px;
}
#social a img{
    height: 20px;
    width: 20px;
    border-radius: 2px;

}
#social a{
    color: #ffffff;
    display: flex;
    gap: 5px;
    text-decoration: none;
}
#social{
    display: flex;
    gap: 10px;
}